@charset "UTF-8";
* {
    /*height; 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
body{
    background-image:linear-gradient(to left,#ED6C3C, #F7A13A, #F99B40, #FEF197)
}
main{
    background-color: white ;
    width: 600px;
    padding: 10px;
    margin: auto;
}