@media (max-width: 1300px) {
    .card {
        width: 250px; /* Reduz a largura dos cards em telas menores */
    }
}

@media (max-width: 480px) {
    .card {
        width: 200px; /* Ajuste adicional para telas muito pequenas */
    }
}
.container {
    width: 100%;
    max-width: 1280px; /* Ajuste conforme necessário */
    margin: 0 auto;
    padding: 20px;
    overflow: none;
}

.carrossel {
    width: 1280px;
    display: grid;
    grid-auto-flow: column;
    gap: 1.2rem; /* Espaçamento entre os cards */
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; /* Rolagem suave */
    margin: 10px;
    overflow: hidden;
}

.card {
    scroll-snap-align: start; /* Encaixe o card no início ao rolar */
    width: 1280px; /* Largura fixa para os cards */
    flex-shrink: 0; /* Impede que os cards encolham */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}

/* Estilização adicional para os links */
.banner {
    display: block;
    text-decoration: none;
    color: inherit;
}