.mago{
height: 100px;
width: 100px;
}
.porto{
    height: 100px;
    width: 100px;
}
.olhudo{
    height: 100px;
    width: 100px;
}

/*------------------------------------
Não esquecer do PX no final dos mumeros
------------------------------------*/

